name: "uisc_xi35"
mass: 0.772 # kg
inertia: [0.0025, 0.0021, 0.0043] # kg*m^2
drag_coeff: [0.2, 0.2, 0.2] # N/(m/s)

motors:
    motor_min: 0 # normalized thrust command for esc
    motor_max: 1 # normalized thrust command for esc
    motor_time_constant: 0.033 # s
    arm_length: 0.08 # m
    kappa: 0.016 # Nm/N
    estimate_thrust: false # If true, the thrust is estimated from the z-axis acceleration and thrust
    thrust_map: [0.000001, 5.0, 0.0] # [N/1^2, N/1, N] (thrust = thrust_map[0]*cmd^2 + thrust_map[1]*cmd + thrust_map[2])
    thrust_min: 0.0 # N
    thrust_max: 5 # N (each motor)

# TODO: add the following parameters
# Limis for the angular velocity of the drone
limits:
    omega_max: [6.0, 6.0, 4.0] # rad/s
    omega_min: [-6.0, -6.0, -4.0] # rad/s